@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-grow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gradient-blue {
  background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%) !important;
}

.nav-item:hover .nav-text {
    color: #34aeeb;
}

.nav-item:hover .icon {
    color: #34aeeb;
}